footer{
    padding: 25px 0;
    .container{
        background-color: $primary-color;
        .content{
            h1{
                padding: 20px 0;
                color:$colorwhite;
                font-size: $secondary-fs+20px;
                text-align: center;
            }
        }
    }
}